
@{
    Layout = null;
}
<a href="~/bootstrap-3.4.1-dist/css/bootstrap.css.map">~/bootstrap-3.4.1-dist/css/bootstrap.css.map</a>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>E-Mail</th>
        <th>Sifre</th>

        <td>aD</td>
        <td>asdD</td>
        <td>fsdgD</td>
        <td>dgdfgdD</td>
    </tr>
</table>